<.header>
  New Template
  <:subtitle>Use this form to manage template records in your database.</:subtitle>
</.header>

<.template_form changeset={@changeset} action={~p"/templates"} />

<.back navigate={~p"/templates"}>Back to templates</.back>
