<.header>
  Template <%= @template.id %>
  <:subtitle>This is a template record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/templates/#{@template}/edit"}>
      <.button>Edit template</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @template.name %></:item>
  <:item title="Content"><%= @template.content %></:item>
</.list>

<.back navigate={~p"/templates"}>Back to templates</.back>
