<.header>
  New Participant
  <:subtitle>Use this form to manage participant records in your database.</:subtitle>
</.header>

<.participant_form changeset={@changeset} action={~p"/participants"} />

<.back navigate={~p"/participants"}>Back to participants</.back>
