<.header>
  Edit Job <%= @job.id %>
  <:subtitle>Use this form to manage job records in your database.</:subtitle>
</.header>

<.job_form changeset={@changeset} action={~p"/job/#{@job}"} />

<.back navigate={~p"/job"}>Back to job</.back>
